/* #westloop { */
/*     position: relative; */
/* } */

/* #image_map a { */
/*     cursor: hand; */
/* } */

.text p {
    text-align: left;
    padding: 20px;
    margin-left: 100px;
    font-family: arial;
    margin-right: 40px;
}
